.customize-your__section {
    background-color: #2C343E;
    width: 1280px;
    height: 653px;
    border-radius: 10px;
    margin-top: 164px;
}

.roast-style {
    padding-top: 10px;
}

.line-tre {
    margin-top: 80px;
    margin-left: 65px;
    display: flex;
    gap: 349px;
}

.circle {
    width: 31px;
    height: 31px;
    white-space: nowrap;
    border-radius: 50%;
    border: 2px solid #0E8784;
}

.line-circle__dot {
    width: 760px;
    height: 0px;
    border: 2px solid #FDD6BA;
    margin-left: 80px;
    margin-top: -18px;
}

.award-winning-box {
    display: flex;
}

.distinct-tasting__box {
    margin-left: 80px;
    margin-top: 67px;
}

.control-one__start {
    width: 90px;
    height: 72px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.control-one__text {
    width: 255px;
    height: 73px;
    margin-top: 38px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.fair-prices-text {
    width: 285px;
    height: 132px;
    margin-top: 42px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    line-height: 26px;
    color: #FEFCF7;
}