.section-our__commitment {
    display: flex;
}

.commitment-img {
    margin-top: 168px;
}

.our-commitment-box {
    margin-top: 258px;
    margin-left: 125px;
}

.our-commitment__text {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.simple-mission__text {
    width: 540px;
    height: 260px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 32px;
}